.page {
  border-top: 2px white solid;
  background-color: black;
  width: 100vw;
  height: max-content;
  min-height: 150vh;
  scroll-behavior: smooth;
  overflow: hidden;
}

.first_text {
  width: max-content;
  margin-left: auto;
  text-align: center;
  font-family: Montserrat;
  font-size: 5vw;
  margin: 0;
  height: 10%;
  margin-left: 10.4vw;
}

.block_questions {
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 780px) {
  .block_questions {
    width: 70%;
  }
}
@media (max-width: 700px) {
  .block_questions {
    width: 80%;
  }
}
@media (max-width: 580px) {
  .block_questions {
    width: 90%;
  }
}
