.block {
  width: 32%;
  height: max-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px #6b624a solid;
  border-radius: 40px;
  background: transparent;
  box-shadow: inset -2px -2px 4px rgb(255 255 255 / 25%),
    inset 4px 4px 4px rgb(39 34 34 / 50%);
  z-index: 1;
}

.header_text {
  font-family: Roboto;
  font-size: 1.5vw;
}

.block_alltext {
  text-align: left;
}

.el_text {
  font-size: 1.1vw;
  width: max-content;
  font-family: Roboto;
  padding: 0 0 0 20px;
  height: 4vh;
  vertical-align: middle;
}

.el_text::before {
  content: " \25CE";
  margin-right: 1vw;
  height: 100%;
  width: 40vw;
  border-radius: 50%;
}

.btn_go {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  width: 288px;
  text-align: center;
  height: 80px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='306' height='86' viewBox='0 0 306 86' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43 1.5C20.0802 1.5 1.5 20.0802 1.5 43C1.5 65.9198 20.0802 84.5 43 84.5H263C285.92 84.5 304.5 65.9198 304.5 43C304.5 20.0802 285.92 1.5 263 1.5H43Z' stroke='url(%23paint0_linear)' stroke-width='3'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-5.00001' y1='78.6167' x2='274.989' y2='9.94679' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CFC09F'/%3E%3Cstop offset='0.203125' stop-color='%23634F2C'/%3E%3Cstop offset='0.401042' stop-color='%23CFC09F'/%3E%3Cstop offset='0.625' stop-color='%23CFC09F'/%3E%3Cstop offset='0.760868' stop-color='%23FFECB3'/%3E%3Cstop offset='0.892867' stop-color='%233A2C0F'/%3E%3Cstop offset='1' stop-color='%23FFECB3'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 40px;
  border: none;
  overflow: hidden;
  font-size: 16px;
  color: white;
  transition: 150ms all;
  margin-bottom: 5%;
}

.btn_go:active {
  transform: scale(0.8);
}

.el_fill {
  animation: filling 2s linear infinite;
}

@keyframes filling {
  0% {
    margin-top: 0vh;
    box-shadow: 7px 6px 20px 10px rgba(207, 192, 159, 0.25);
  }

  25% {
    margin-top: 1vh;
    box-shadow: 7px 6px 20px 10px rgba(207, 192, 159, 0.25);
  }

  50% {
    margin-top: 0vh;
    box-shadow: 7px 6px 20px 10px rgba(207, 192, 159, 0.25);
  }

  75% {
    margin-top: -1vh;
    box-shadow: 7px 6px 20px 10px rgba(207, 192, 159, 0.25);
  }

  100% {
    margin-top: 0vh;
    box-shadow: 7px 6px 20px 10px rgba(207, 192, 159, 0.25);
  }
}

.el_fill_out {
  animation: filling_out 1s linear forwards;
}

@keyframes filling_out {
  to {
    margin: 0;
    box-shadow: inset -2px -2px 4px rgb(255 255 255 / 25%),
      inset 4px 4px 4px rgb(39 34 34 / 50%);
  }
}

.btn_fill {
  box-shadow: 0px 10px 67px 2px #ffffff69;
}

.btn_fill_o {
  box-shadow: inset -2px -2px 4px rgb(255 255 255 / 25%),
    inset 4px 4px 4px rgb(39 34 34 / 50%);
}

@media (max-width: 1200px) {
  .block {
    width: 55%;
    margin-bottom: 50px;
  }
  .header_text {
    font-size: 30px;
  }
  .block_alltext {
    font-size: 20px;
  }
  .el_text {
    font-size: inherit;
  }
  .el_fill {
    animation: none;
  }
  .el_fill_out {
    animation: none;
  }
  .btn_fill {
    box-shadow: none;
  }
}

@media (max-width: 715px) {
  .block {
    width: 60%;
    margin-bottom: 50px;
  }
}

@media (max-width: 635px) {
  .block {
    width: 80%;
    margin-bottom: 50px;
  }
}

@media (max-width: 485px) {
  .block {
    width: 90%;
    margin-bottom: 50px;
  }
}

@media (max-width: 435px) {
  .header_text {
    font-size: 20px;
  }
  .block_alltext {
    font-size: 16px;
  }
  .btn_go {
    transform: scale(0.8);
  }
  .btn_go:active {
    transform: scale(0.6);
  }
}

@media (max-width: 350px) {
  .header_text {
    font-size: 16px;
  }
  .block_alltext {
    font-size: 14px;
  }
}

@media (max-width: 310px) {
  .header_text {
    font-size: 14px;
  }
  .block_alltext {
    font-size: 12px;
  }
}
